#newcell{
    width:15%;
    overflow-y: scroll;
    float: left;
    border: #655f64;
}
#paper{
    width: 64%;
    margin-left: auto;
    height:calc(100% - 0px);
    max-height: calc(100% - 0px);
    /* margin: auto; */
    overflow: hidden;
    border: #655f64;
    position: relative;
    display: inline-block;
}
/*#details{
    width:10%;
    float: right;
    border: #655f64;
}*/
.components{
    position: relative;
    display: inline-block;
    width: 18%;
    float: left;
    border: #655f64;
    height: 100%
}

#savefile,#generate{
    cursor: pointer;
}

.main{
    height: calc(100% - 64px);
    max-height: calc(100% - 64px);
}
.demo-cards{
    height: 100%;
    width: 18%;
    position: relative;
    display: inline-block;
    float: right;
}
.prop{
    height: 100%;
    margin-left: 0.2em;
    padding-left: 0.5em;
}
.demo-content{
    height: 100%;
    width: 100%;
}
.comp{
    height: 100%;
}

.upload{
    cursor: pointer;
}
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}
#components{
    overflow-y: scroll;

}
.newcompbt{
    width:100%;
    margin-bottom: 0.3em;
    border: none;
    background-color: #4db6ac;
    display: inline-block;
    padding: 1em 2em;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.newcompbt:active{
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#details{
    overflow-y: scroll;
    height: calc(100% - 64px);
}
#switchtoclass{
    position: fixed;
    display: none;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}
input[type=checkbox]:checked ~ .switch{
    display: none;
}
.togglable{
    width: 95%;
    display: inline-block;
    padding: 0.2em;
    border-radius: 3px;
    background-color: #4db6ac;
    color: white;
    margin: 1em 2em 0em 0em;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 300;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.togglable:after{

    content: "\02C5";
}
.add,.switch{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border: none;
    background-color: #4db6ac;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.toggle{
    /*display: none;*/
}
.propcontainer{
    border-radius: 3px;
    background-color: white;
    border: 1px solid lightgray;
    margin: 0.1em;
}


.HxClassicon,.HxInterfaceicon{
    background: #4db6ac;
    border: 2px solid #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    text-indent: -9999em;
    margin-right: 0.3em;
    vertical-align: middle;
}
.HxInterfaceicon:after
{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    /* height: 100%; */
    /* margin: 65% 0; */
    margin: auto;
    background: #fff;
    /*background: -moz-linear-gradient(top, #888 0, #888 20%, #fff 20%, #fff 40%, #888 40%, #888 60%, #fff 60%, #fff 80%, #888 80%, #888 100%);*/
    height: 2px;
}
.HxClassicon:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    /* top: 50%; */
    width: 100%;
    /* height: 100%; */
    /* margin: 65% 0; */
    margin: auto;
    background: #fff;
    background: -webkit-linear-gradient(top, #4db6ac 0, #4db6ac 32%, #fff 31%, #fff 34%, #4db6ac 35%, #4db6ac 65%, #fff 64%, #fff 67%, #4db6ac 68%, #4db6ac 100%);
    height: 100%;
}
.HxGeneralizationicon{
    background: url("generalization.svg");
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0.3em;
    vertical-align: middle;
}
.HxAssociationicon{
    background: url("association.svg");
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0.3em;
    vertical-align: middle;
}
.HxImplementationicon{
    background: url("implementation.svg");
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0.3em;
    vertical-align: middle;
}
.HxCommenticon{
    background: url("comment.svg");
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0.3em;
    vertical-align: middle;
}


.ui-menu .ui-menu-item-with-icon a {
    padding-left: 20px;
    color: #4d4d4c;
}
span.attribute-item-icon,
span.method-item-icon,
span.class-item-icon,
span.interface-item-icon{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: -16px;
    padding-right: 0.2em;
}
span.method-item-icon {
    background: url("methodicon.png") no-repeat;

}
span.attribute-item-icon {
    background: url("attributeicon.png") no-repeat;

}
span.class-item-icon{
    background: url("classicon.png") no-repeat;
}
span.interface-item-icon{
    background: url("interfaceicon.png") no-repeat;
}
.classtree{
    overflow-x: scroll;
}
#classtreetab{
    display: none;
}

.element-tool-remove{
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
.joint-element:hover .element-tool-remove{
    opacity: 1;
}



