#newcell{
    width:15%;
    overflow-y: scroll;
    float: left;
    border: #655f64;
}
#paper{
    width: 60%;
    margin-left: auto;
    height:calc(100% - 0px);
    max-height: calc(100% - 0px);
    /* margin: auto; */
    overflow: scroll;
    border: #655f64;
    position: relative;
    display: inline-block;
}
/*#details{
    width:10%;
    float: right;
    border: #655f64;
}*/
.components{
    position: relative;
    display: inline-block;
    width: 20%;
    float: left;
    border: #655f64;
    height: 100%;
}

#savefile{
    cursor: pointer;
}

.main{
    height: calc(100% - 64px);
    max-height: calc(100% - 64px);
}
.demo-cards{
    height: 100%;
    width: 20%;
    position: relative;
    display: inline-block;
    float: right;
}
.prop{
    height: 100%;
    margin-left: 0.2em;
    padding-left: 0.5em;
}
.demo-content{
    height: 100%;
    width: 100%;
}
.comp{
    height: 100%;
}

.upload{
    cursor: pointer;
}
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}
#components{
    overflow-y: scroll;
    height: calc(100% - 64px);
}
.newcompbt{
    margin-bottom: 0.3em;
    border: none;
    background-color: #4db6ac;
    display: inline-block;
    padding: 1em 2em;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.newcompbt:active{
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#details{
    overflow-y: scroll;
    height: calc(100% - 64px);
}
#switchtoclass{
    position: fixed;
    display: none;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}